.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f5f9ff; 
  padding: 2rem;
}

.register-card {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 2rem;
  max-width: 400px; 
  width: 100%;
  text-align: center;
}
.register-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.register-subtitle {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-inputs {
  display: flex;
  gap: 0.5rem;
}

.input-field {
  flex:1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.register-button {
  background-color: #ffd700; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

.register-button:hover {
  background-color: #f0c300; 
}

.login-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

  
